@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e3e3e3;
}

nav{
    border-bottom: 2px solid black;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
}

nav ul{
    display: flex;
    column-gap: 45px;
    justify-content:safe;
    flex-wrap: wrap;
    list-style-type: none;
      font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}

nav ul li:not(:first-child):hover{
    transform: scale(1.2);
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    border: 2px solid black;
}

@keyframes hoverAnimation_icon {
    1%{
        transform: scale(1);
        color: #f30000;
        border-bottom-color:#f30000;
        border-left-color:#f30000;
    }
    50%{
        transform: scale(1.2);
        color: #210aef;
        border-right-color:#210aef;
        border-top-color:#210aef;
    }
    100%{
        transform: scale(1);
        color: #000000;
        border-bottom-color:#000000;
        border-left-color:#000000;
        border-right-color:#000000;
        border-top-color:#000000;
    }
}

.material-symbols-outlined:hover{
    animation: hoverAnimation_icon 0.5s ease-in-out;
}

#title{
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 600%;
    overflow-wrap: break-word;
}

h1{
    border-bottom: 2px solid black;
    margin-left: 2%;
    margin-right: 2%;
}